.StationCard {
    position: relative;

    background-color: var(--bg-secondary);
    overflow: hidden;
    transition: 0.2s;
    border: 1px solid var(--bg-primary);
    border-radius: 8px;
}

.StationCard:hover {
    transform: translateY(-8px);
    background-color: var(--bg-primary);
    border-color: var(--accent-primary);
    box-shadow: 0 11px 18px rgba(var(--accent-primary-rgb), 0.2);
}

.StationCard .station-image {
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: center;
}

.StationCard .station-card-info {
    /* padding: 8px 20px 20px; */
    padding: 8px 20px 60px;

    display: flex;
    flex-direction: column;
}

.StationCard .station-card-identifier {
    margin-bottom: 11px;
}

.StationCard .station-card-identifier .station-card-title {
    font-size: 2.2rem;
    line-height: 1;
}

.StationCard .station-card-identifier .station-card-country {
    font-size: 1.2rem;
}

.StationCard .station-card-summary {
    font-size: 1.1rem;
    line-height: 1.2;
}

.StationCard .station-card-operation-status {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;

    display: flex;
    justify-content: space-between;

    /* margin: 11px 11px 0 0; */
}

.StationCard .station-card-operation-status p {
    color: var(--accent-main);
        
    font-size: 0.94rem;
}

.StationCard .station-card-operation-status .station-card-activity.inactive {
    color: var(--text-muted);
}