.StationCard {
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s;
    border: 1px solid;
}

.StationCard:hover {
    transform: translateY(-8px);
}

.station-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.stationcard-info {
    padding: 20px;
}