#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

/*************************************************************/
/*---GLOBAL CSS----------------------------------------------*/
/*************************************************************/

/* START FRONT ********************************************** */
p .lede {
    font-size: 1.25rem;
    font-weight: 300;
}
/* END FONT ************************************************** */


/*************************************************************/
/*---END GLOBAL CSS------------------------------------------*/
/*************************************************************/