html, body, #root {
    min-height: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: var(--bg-primary);
    color: var(--text-primary);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.6;

/* REFINEMENT TWEAKS */
    /* Prevents the browser from faking bold or italic
        if the font doesn’t include those weights */
    font-synthesis: none;
    
    /* Improves text readability by enabling better
        kerning and ligatures (mainly helpful for longer text) */
    text-rendering: optimizeLegibility;
    
    /* Makes fonts render slightly thinner and smoother
        in Chrome/Safari (WebKit-based browsers) */
    -webkit-font-smoothing: antialiased;
    
    /* Adjusts font smoothing specifically for Firefox on macOS */
    -moz-osx-font-smoothing: grayscale;

/* FOR COLOR THEME (DEFAULT: LIGHT) */
    /* background | big */
    --bg-primary: #fcfeff;
    /* controls | smaller */
    --bg-secondary: #e6f0f7;
    /* headings | strong */
    --text-main: #1e3a8a;
    /* main body | medium */
    --text-primary: #0f172a;
    /* muted text | subtle */
    --text-secondary: #2b3f5c;
    /* buttons and strong links | strong */
    --accent-main: #4b789b;
    /* hover states | medium */
    --accent-primary: #3a7dce;
    /* subtle borders and tags | subtle */
    --accent-secondary: #b9cbda;
}

[data-theme="dark"] {
    --bg-primary: #0b1120;
    --bg-secondary: #0b1120;
    --text-main: #7fb3ff;
    --text-primary: #e6edf3;
    --text-secondary:#94a3b8;
    --accent-main: #4b789b;
    --accent-primary: #a4b8d4;
    --accent-secondary: #7d99c2;
}